main.reservations {
    margin: 2rem 0rem 0rem 0rem;
    text-align: center;
    background-color: #495E57;
}

.reservations h1 {
    font-size: 64px;
    font-weight: 600;
    color: #F4CE14;
}

.reservations h2 {
    font-size: 40px;
    font-weight: 500;
    color: #EDEFEE;
    margin-bottom: 2rem;
}