.footer {
    grid-area: footer;
    display: grid;
    grid-template-areas:
    
        "logo"
        "navigation"
        "contact"
        "socials";

    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    place-items: center; /* shorthand for align-items and justify-items */
    text-align: center;
    padding: 2rem 0rem 0rem 0rem;
}

.footer > ul {
    list-style: none; /* Remove bullet points from list items */
    padding: 0;
}

.footer h3 {
    font-weight: bold;
}

.logo {
    grid-area: logo;
    max-height: 150px;
}

.navigation {
    grid-area: navigation;
}

.contact {
    grid-area: contact;
}

.socials {
    grid-area: socials;
}

@media (min-width: 768px) {

    .footer {
  
      grid-template-areas:
  
        "logo navigation"
  
        "contact socials";
    
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  
    }
}

@media (min-width: 1025px) {

    .footer {

      grid-template-areas:

        "logo navigation contact socials";

      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr;
    }
}