.footer {
    grid-area: footer;
    padding: 2rem 0rem 0rem 0rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.footer > ul {
    list-style: none; /* Remove bullet points from list items */
}

.footer h3 {
    font-weight: bold;
}